body {
	background: black;
	padding: 0px 15%;
}

.header	{
	position: relative;
}

.nav {
	width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px;
    background: rgba(255, 255, 255, .5);
}

.navigation {
	display: inline-flex;
}

.logo {
	display: inline-flex;
    padding: 0% 45% 0 1%;
    color: white;
}

.navLinks {
	padding: 10px;
	color: white;
}

.mainImg {
	width: 100%;
}

.main{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.firstSection,
.secondSection,
.thirdSection,
.fourthSection,
.fifthSection,
.sixSection,
.seventhSection {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: flex-start;
 
}

.firstSection,
.sixSection {
	position: relative;
	width: 35%;
}

.secondSection,
.seventhSection {
	width: 60%;
}

.thirdSection,
.fourthSection,
.fifthSection {
	width: 30%;
} 

.icon {
	width: 30px;
}

section {
	position: relative;
	box-sizing: border-box;
	margin: 3% 0;
	padding: 15px;
}

.mainLinks  li a {
	color: white;
	
}


.mainLinks  li {
	flex-basis: 20%;
	white-space: pre-line;
}

span {
	color: white;
}

.mainLinks,
.firstSectionLinks,
.secondSectionLinks,
.thirdSectionLinks,
.fourthSectionLinks,
.fifthSectionLinks,
.sixSectionLinks,
.seventhSectionLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}

.firstSectionLinks,
.secondSectionLinks,
.thirdSectionLinks,
.fourthSectionLinks,
.fifthSectionLinks,
.sixSectionLinks,
.seventhSectionLinks {
	background: none;

}

.firstSectionLinks{
	width: 57%;
    margin: 0 auto;
    color: white;
}

.firstSection p,
.sixSection p {
	color: white;
}

.secondSectionLinks, {
	justify-content: space-around;
    width: 40%;
}

.thirdSection,
.fourthSection,
.fifthSection {
	width: 30%;
}

.secondSectionLinks {
	width: 50%;
}

.sixSectionLinks {
	width: 80%;
}

.loadMore {
	display: flex;
    justify-content: center;
    align-items: center;
	height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, .5);
}

.footer {
	display: flex;
    justify-content: space-around;
    margin: 2% 0;
}

.secondSection,
.thirdSection,
.fourthSection,
.fifthSection,
.seventhSection {
	background: rgba(255, 255, 255, .5);
}


.headerTitle {
    position: absolute;
    top: 65px;
    color: white;
    left: 20px;
}

.headertitle2 {
	position: absolute;
    color: wheat;
    top: 85px;
    left: 20px;
}

.sectionNote {	
    left: 3px;
    top: 20px;
}
.sectionNote,
.sectionNote2,
.sectionNote3,
.sectionNote4,
.sectionNote5,
.sectionNote6,
.sectionNote7 {
	position: absolute;
	left: 0;
	background-color: orange;
	width: 100px;
    text-align: center;
    padding: 13px;
}

.copyrights {
	color: white;
}

.sectionNote7 {
	top: 85px;
}

